.parallax{
    background-image: url( 'https://cdn.pixabay.com/photo/2018/10/19/10/43/social-media-3758364_960_720.jpg');

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}