<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Bem Vindes!</h1>
        </div>
    </div>

    <div class="row  w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium libero necessitatibus hic suscipit dolor consequuntur porro reiciendis rerum vero tempore voluptatem aspernatur facilis id possimus, molestias ex amet eius excepturi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error perspiciatis minima odio. Tempore corrupti eveniet eius atque doloremque repellendus, doloribus quae ex. Vel ducimus assumenda repudiandae incidunt quasi placeat consectetur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi aut, iusto tempore, architecto, assumenda nisi reprehenderit quas repudiandae aperiam nihil laborum ad maxime accusantium dignissimos id. Qui mollitia iste alias!
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold">
                Ver o Feed
            </button>
        </div>
    </div>

