
.parallax{
    background-image: url( 'https://images.pexels.com/photos/1630344/pexels-photo-1630344.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog1{
    font-family: 'Permanent Marker', cursive;
    color: rgba(54, 24, 24, 0.781);
    font-size: 32px;
    margin-top: 40px;
}
.blog{
    font-family: 'Permanent Marker', cursive;
    color: rgba(54, 24, 24, 0.781);
    font-size: 32px;
}
.btn{
    color: white;
    border:none;
    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
}
.btn1{
    color: white;
    height: 35px;
    width: 156px;
    background: #54595d5d;
    border-radius: 25px;
    
}
.contato{
    
    font-family: 'Permanent Marker', cursive;
    color: rgba(54, 24, 24, 0.781);
}

#form{
    
   
    border-radius: 40px;
}
input, select, textarea{
    color: rgba(54, 24, 24, 0.781);
     background: #54595d5d;
     border:none;
    
}

label{
    font-family: 'Permanent Marker', cursive;
    color: rgba(54, 24, 24, 0.781);
}