<style>
  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  </style>
  


<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="blog1 text-center">Bem Vindes!</h1>
        </div>
    </div>

    <div class="row  w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="blog text-justify text-center">
              Aqui no blog de moda você encontra tudo sobre o universo feminino.
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn  text-uppercase font-weight-bold">
                Ver o Feed
            </button>
        </div>
    </div>

    <div class="container">
        <h2 class="blog text-center ">Matérias</h2>
        <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://images.pexels.com/photos/965324/pexels-photo-965324.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title">Moda</h5>
                <p class="card-text">Dicas, novidades e tudo sobre a moda outono.</p>
                
              </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://images.pexels.com/photos/1391580/pexels-photo-1391580.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Conceito</h5>
                  <p class="card-text">Confira as novas dicas de fotos conceituais.</p>
                 
                </div>
              </div>
            <div class="card">
              <img class="card-img-top" src="https://images.pexels.com/photos/794062/pexels-photo-794062.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title">Estilo</h5>
                <p class="card-text">Tendências para estilo discolado, vintage e casual. </p>
                
              </div>
            </div>
            
          </div>


          <div class=" form row mt-5 mb-5">
            <div id="form" class="col-md-6 text-light ">
              <form>
                <div class="form-group ">
                  <label for="exampleFormControlInput1">Nome:</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu nome">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Endereço de email</label>
                  <input type="email" class="form-control " id="exampleFormControlInput1" placeholder="nome@exemplo.com">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Informe</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Duvidas</option>
                    <option>Reclamações</option>
                    <option>Informações</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Assunto</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              
                <button type="button" class="btn1 text-light mb-3">Enviar</button>
              </form>
            </div>
            <div class="contato col-md-6 text-center mt-5 text-dark">
              <h1>Entre em Contato</h1>
              <h3>Informe seus dados</h3>
            </div>
          </div>
    </div>
    
