.nav{
    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
}
ul{
    font-family: 'Permanent Marker', cursive;
    color: white;
}
.texto{
    font-size: 16pt;
    letter-spacing: .2rem;
}

